@page "/"

@using Models
@using Models.Entities

@inject DataService services


<PageTitle>Index</PageTitle>

<div class="row no-gutters" style="background-color:cornsilk">
    <h1> Your Recepies</h1>
</div>

@if (recipes is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="pt-4">
        <div class="row pt-2">
            @foreach (var item in recipes)
            {
                <div class="card-columns col-lg-3 col-md-6">
                    <div class="row p-2">
                        <div class="col p1">
                            <div class="card">
                                @if (item.ImageUrl != null)
                                {
                                    <img class="card-img-top rounded" src="@item.ImageUrl" alt="Card image cap">
                                }
                                else
                                {
                                    <img class="card-img-top rounded" src="images\recipes\mammaMu.jpg" alt="Card image cap">
                                }
                                <div class="card-body p-2">
                                    <h5 class="card-title"> @item.RecipeName</h5>
                                    <h6 class="card-title">Cooking Time: @item.CookingTime Min</h6>
                                    @if(item.TotalCalories == null)
                                    {
                                        <h6 class="card-title">Kcal: 0</h6>
                                    }else
                                    {
                                        <h6 class="card-title">Kcal: @item.TotalCalories</h6>
                                    }
                                    <a href="@item.Url" class="stretched-link"></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

}

@code {
    private DisplayIndexModel[] recipes;


    protected override async Task OnInitializedAsync()
    {
        recipes = await services.GetAllRecipesAsync();
    }


   
}
